#report{
    cursor: pointer;
}
li { cursor: pointer;
  margin: 0 0 5px 0; }
.table-fixed {
    width: 100%;
  }
  
  /*This will work on every browser but Chrome Browser*/
  .table-fixed thead {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  
  }
  
  /*This will work on every browser*/
  .table-fixed thead th {
      position: sticky;
      position: -webkit-sticky;
      top: 0;
  
  }