li.branches { cursor: pointer; }
li.branches:hover {
    text-decoration: underline;
}
#repositoriesMenu{
    cursor: pointer;
}

li { cursor: pointer;
    margin: 0 0 5px 0; }li { cursor: pointer;
        margin: 0 0 5px 0; }

.first{
color: green;
font-weight: bold;
}
            
.last{
color: red;
font-weight: bold;
}
#idback{
    cursor: pointer;
}

.newer { 
    color: green;
}
.older { 
    color: red;
}